[user]
  name = Ivan Kotenkov
  email = kotenkov@yandex-team.ru
[branch "master"]
  rebase = true
[merge]
  tool = vimdiff
[core]
  autocrlf = false
  deltaBaseCacheLimit = 1G
  editor = vim
  safecrlf = false
  preloadindex = true
  excludesfile = ~/.gitignore_global
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[multidiff]
  tool = vd -f
[alias]
  b = branch
  ch = checkout
  co = commit
  d = diff
  ds = diff --stat
  g = grep --break --heading --line-number --color=always
  md = multidiff
  mdc = multidiff-chromium
  s = status -uno
  vd = difftool
  rh = reset HEAD
  ap = add --patch
  pc = push origin HEAD
  ca = commit --amend
  l1 = log -1
[grep]
  lineNumber = true
[color]
  ui = true
[help]
  autocorrect = 1
[remote "origin"]
  prune = true
[rebase]
  autostash = true
[clangFormat]
  binary = ~/projects/browser/src/buildtools/mac/clang-format
  style = chromium
