[user]
  name = Ivan Kotenkov
  email = vaneskot@yandex.ru
[branch "master"]
  rebase = true
[merge]
  tool = vimdiff
  conflictstyle = diff3
[core]
  autocrlf = false
  deltaBaseCacheLimit = 1G
  editor = vim
  safecrlf = false
  preloadindex = true
  excludesfile = ~/.gitignore_global
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[multidiff]
  tool = vd -f
[alias]
  b = branch
  ch = checkout
  co = commit
  d = diff
  ds = diff --stat
  g = grep --break --heading --line-number --color=always
  gcc = "!git grep --break --heading --line-number --color=always $1 -- '*.cc' '*.cpp'"
  gch = "!git grep --break --heading --line-number --color=always $1 -- '*.cc' '*.cpp' '*.h'"
  gh = "!git grep --break --heading --line-number --color=always $1 -- '*.h'"
  gw = "!git grep --break --heading --line-number --color=always $1 -- src/third_party/WebKit/Source"
  md = multidiff
  mdc = multidiff-chromium
  s = status -uno
  vd = difftool
  rh = reset HEAD
  ap = add --patch
  pc = push origin HEAD
  ca = commit --amend
  l1 = log -1
[grep]
  lineNumber = true
[color]
  ui = true
[help]
  autocorrect = 1
[remote "origin"]
  prune = true
[rebase]
  autostash = true
