[user]
	name = Ivan Kotenkov
	email = kotenkov@yandex-team.ru
[branch "master"]
	rebase = true
[merge]
	tool = vimdiff
[core]
	autocrlf = false
	deltaBaseCacheLimit = 1G
	editor = vim
	safecrlf = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[multidiff]
  tool = vd -f
[alias]
  b = branch
  ch = checkout
  co = commit
  d = diff
	ds = diff --stat
  g = grep --break --heading --line-number --color=always
  md = multidiff
	s = status
	vd = difftool
[grep]
	lineNumber = true
[color]
	ui = true
[help]
	autocorrect = 1
