snippet alog "log" b
com.yandex.android.common.logger.Log.e(new Object() {}.getClass().getEnclosingClass().getName(), "cr_vak ${0}");
endsnippet

snippet fix "fixme" b
// FIXME(kotenkov): ${0}
endsnippet

snippet fix "todo" b
// TODO(kotenkov): ${0}
endsnippet
